Repository janosh/matterviz, pull requests merged in 2025-07, with the labels that each got.

#85 Allow toggling between histogram and line plot of properties in Trajectory viewer
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
  .gitignore
  deno.jsonc
  extensions/vscode/tests/extension.test.ts
  src/app.css
  src/lib/icons.ts
  src/lib/io/parse.ts
  src/lib/math.ts
  src/lib/plot/ColorBar.svelte
  src/lib/plot/Histogram.svelte
  src/lib/plot/ScatterPlot.svelte
  src/lib/plot/data-transform.ts
  src/lib/plot/formatting.ts
  src/lib/plot/index.ts
  src/lib/plot/interactions.ts
  src/lib/plot/layout.ts
  src/lib/plot/scales.ts
  src/lib/structure/Structure.svelte
  src/lib/structure/StructureLegend.svelte
  src/lib/structure/StructureSidebar.svelte
  src/lib/structure/index.ts
  src/lib/trajectory/Trajectory.svelte
  src/lib/trajectory/TrajectorySidebar.svelte
  src/lib/trajectory/index.ts
  src/lib/trajectory/parse.ts
  src/lib/trajectory/plotting.ts
  src/routes/(demos)/histogram/+page.md
  src/routes/(demos)/scatter-plot/+page.md
  src/routes/(demos)/trajectory/+page.svelte
  src/routes/+page.svelte
  src/routes/test/histogram/+page.svelte
  src/routes/test/scatter-plot/+page.svelte
  src/site/plot-utils.ts
  src/site/structures/aviary-CuF3K-triolith.poscar
  src/site/structures/nested-Hf36Mo36Nb36Ta36W36-hcp-mace-omat.json.gz
  tests/playwright/histogram.test.ts
  tests/playwright/scatter-plot.test.ts
  tests/playwright/structure.test.ts
  tests/playwright/trajectory.test.ts
  tests/vitest/io/parse.test.ts
  tests/vitest/math.test.ts
  tests/vitest/periodic-table/PeriodicTable.test.svelte.ts
  tests/vitest/plot/ScatterPlot.test.ts
  tests/vitest/plot/ScatterPoint.test.ts
  tests/vitest/plot/data-transform.test.ts
  tests/vitest/plot/formatting.test.ts
  tests/vitest/plot/interactions.test.ts
  tests/vitest/plot/layout.test.ts
  tests/vitest/plot/scales.test.ts
  tests/vitest/structure/Structure.test.ts
  tests/vitest/structure/StructureLegend.test.ts
  tests/vitest/structure/pbc.test.ts
  tests/vitest/trajectory/extract.test.ts
  tests/vitest/trajectory/parse.test.ts
  tests/vitest/trajectory/plotting.test.ts
Labels: enhancement, plots, trajectory

#89 `DraggablePanel` replaces `ControlPanel` used by `StructureControls`, `StructureInfoPanel`, `ScatterPlotControls`
  .github/workflows/test.yml
  playwright.config.ts
  src/app.css
  src/lib/ControlPanel.svelte
  src/lib/DraggablePanel.svelte
  src/lib/attachments.ts
  src/lib/colors/index.ts
  src/lib/icons.ts
  src/lib/index.ts
  src/lib/plot/ScatterPlotControls.svelte
  src/lib/state.svelte.ts
  src/lib/structure/Structure.svelte
  src/lib/structure/StructureControls.svelte
  src/lib/structure/StructureInfoPanel.svelte
  src/lib/structure/StructureScene.svelte
  src/lib/structure/StructureSidebar.svelte
  src/lib/structure/index.ts
  src/lib/trajectory/Trajectory.svelte
  src/routes/(demos)/bohr-atoms/+page.svelte
  src/routes/(demos)/trajectory/+page.svelte
  src/routes/test/scatter-plot/+page.svelte
  src/routes/test/structure/+page.svelte
  src/site/PeriodicTableControls.svelte
  static/themes.js
  tests/playwright/bohr-atoms.test.ts
  tests/playwright/lattice.test.ts
  tests/playwright/scatter-plot.test.ts
  tests/playwright/structure-info-panel.test.ts
  tests/playwright/structure-scene.test.ts
  tests/playwright/structure.test.ts
  tests/playwright/trajectory.test.ts
  tests/vitest/attachments.test.ts
  tests/vitest/state.test.ts
  tests/vitest/structure/Structure.test.ts
  tests/vitest/structure/StructureInfoPanel.test.ts
  tests/vitest/structure/pbc.test.ts
  tests/vitest/trajectory/parse.test.ts
Labels: enhancement, ux

#91 VSCode extension file-watching: Structure and Trajectory viewers auto-update on file changes
  extensions/vscode/package.json
  extensions/vscode/src/extension.ts
  extensions/vscode/tests/extension.test.ts
  extensions/vscode/webview/src/main.ts
  package.json
  src/lib/structure/StructureCard.svelte
  src/lib/structure/index.ts
  src/lib/trajectory/parse.ts
  src/routes/(demos)/structure/+page.md
  src/routes/mp-[slug]/+page.svelte
  tests/vitest/setup.ts
  tests/vitest/trajectory/parse.test.ts
Labels: enhancement, vscode

#94 Add `ContextMenu.svelte` used on double click in `Composition.svelte` to select chart mode, color palette, export text/JSON/SVG/PNG
  extensions/vscode/src/extension.ts
  extensions/vscode/tests/extension.test.ts
  extensions/vscode/webview/src/main.ts
  package.json
  src/lib/ContextMenu.svelte
  src/lib/composition/BarChart.svelte
  src/lib/composition/BubbleChart.svelte
  src/lib/composition/Composition.svelte
  src/lib/composition/PieChart.svelte
  src/lib/composition/parse.ts
  src/lib/index.ts
  src/lib/io/export.ts
  src/lib/io/parse.ts
  src/lib/structure/StructureControls.svelte
  src/lib/structure/StructureInfoPanel.svelte
  src/lib/structure/StructureScene.svelte
  src/lib/trajectory/Trajectory.svelte
  src/lib/trajectory/parse.ts
  src/routes/(demos)/composition/+page.svelte
  src/routes/[slug]/+page.server.ts
  src/routes/api/+page.svelte
  src/routes/api/+page.ts
  tests/vitest/composition/BarChart.test.ts
  tests/vitest/composition/Composition.test.ts
  tests/vitest/composition/parse.test.ts
  tests/vitest/index.test.ts
  tests/vitest/io/export.test.ts
  tests/vitest/io/parse.test.ts
  tests/vitest/math.test.ts
  tests/vitest/setup.ts
  tests/vitest/structure/StructureInfoPanel.test.ts
  tests/vitest/trajectory/parse.test.ts
Labels: enhancement, composition

#96 Significant speedups of Trajectory and Structure viewers
  extensions/vscode/.vscodeignore
  extensions/vscode/readme.md
  extensions/vscode/src/extension.ts
  extensions/vscode/src/webview/main.ts
  extensions/vscode/tests/extension.test.ts
  extensions/vscode/tests/webview.test.ts
  extensions/vscode/vite.config.mjs
  extensions/vscode/webview/src/stubs/app-environment.ts
  extensions/vscode/webview/src/stubs/app-navigation.ts
  extensions/vscode/webview/src/stubs/app-stores.ts
  package.json
  readme.md
  src/lib/DraggablePanel.svelte
  src/lib/app.css
  src/lib/colors/index.ts
  src/lib/plot/Histogram.svelte
  src/lib/plot/HistogramControls.svelte
  src/lib/plot/ScatterPlotControls.svelte
  src/lib/structure/Structure.svelte
  src/lib/structure/StructureControls.svelte
  src/lib/structure/StructureScene.svelte
  src/lib/theme/index.ts
  src/lib/trajectory/Trajectory.svelte
  src/lib/trajectory/TrajectoryInfoPanel.svelte
  src/lib/trajectory/extract.ts
  src/lib/trajectory/index.ts
  src/lib/trajectory/parse.ts
  src/lib/trajectory/plotting.ts
  src/routes/(demos)/trajectory/+page.svelte
  src/routes/+page.svelte
  src/routes/test/structure/+page.svelte
  src/routes/test/trajectory-performance/+page.svelte
  src/routes/test/trajectory/+page.svelte
  src/site/FilePicker.svelte
  tests/playwright/structure.test.ts
  tests/playwright/trajectory-performance.test.ts
  tests/playwright/trajectory.test.ts
  tests/vitest/FilePicker.test.ts
  tests/vitest/structure/structure-utils.test.ts
  tests/vitest/theme/index.test.ts
  tests/vitest/trajectory/extract.test.ts
  tests/vitest/trajectory/index.test.ts
  tests/vitest/trajectory/plotting.test.ts
Labels: structure, perf, trajectory

#97 Add `auto-render` setting to VSCode extension
  extensions/vscode/package.json
  extensions/vscode/src/extension.ts
  extensions/vscode/src/webview/main.ts
  extensions/vscode/tests/extension.test.ts
  src/lib/DraggablePanel.svelte
  src/lib/icons.ts
  src/lib/io/parse.ts
  src/lib/plot/ElementScatter.svelte
  src/lib/plot/HistogramControls.svelte
  src/lib/plot/ScatterPlotControls.svelte
  src/lib/structure/Structure.svelte
  src/lib/structure/StructureControls.svelte
  src/lib/structure/StructureInfoPanel.svelte
  src/lib/theme/index.ts
  src/lib/trajectory/Trajectory.svelte
  src/lib/trajectory/TrajectoryInfoPanel.svelte
  src/lib/trajectory/parse.ts
  tests/playwright/bohr-atoms.test.ts
  tests/playwright/element-detail-pages.test.ts
  tests/playwright/helpers.ts
  tests/playwright/histogram.test.ts
  tests/playwright/periodic-table.test.ts
  tests/playwright/scatter-plot.test.ts
  tests/playwright/structure-info-panel.test.ts
  tests/playwright/structure-scene.test.ts
  tests/playwright/structure.test.ts
  tests/playwright/theme-control.test.ts
  tests/playwright/trajectory.test.ts
  tests/vitest/io/parse.test.ts
  tests/vitest/setup.ts
  tests/vitest/structure/StructureInfoPanel.test.ts
  tests/vitest/trajectory/parse.test.ts
Labels: enhancement, vscode

#101 More `Histogram.svelte` features (near parity with `ScatterPlot.svelte`)
  src/lib/plot/Histogram.svelte
  src/lib/plot/HistogramControls.svelte
  src/routes/(demos)/bohr-atoms/+page.svelte
  src/routes/(demos)/color-bar/+page.md
  src/routes/(demos)/color-scales/+page.md
  src/routes/(demos)/color-schemes/+page.md
  src/routes/(demos)/composition/+page.svelte
  src/routes/(demos)/element-tile/+page.md
  src/routes/(demos)/histogram/+page.md
  src/routes/(demos)/nucleus/+page.md
  src/routes/(demos)/scatter-plot/+page.md
  src/routes/(demos)/structure/+page.md
  src/routes/(demos)/trajectory/+page.svelte
  src/routes/test/histogram/+page.svelte
  src/site/plot-utils.ts
  svelte.config.js
  tests/playwright/histogram.test.ts
  tests/playwright/structure-info-panel.test.ts
Labels: enhancement, plots

#100 Add parsing routines for single OPTIMADE JSON
  src/lib/io/export.ts
  src/lib/io/parse.ts
  src/lib/math.ts
  src/lib/trajectory/parse.ts
  src/routes/+page.svelte
  src/site/structures/index.ts
  src/site/structures/mp-7000-optimade.json
  tests/vitest/io/parse.test.ts
  tests/vitest/math.test.ts
Labels: enhancement, ecosystem, parsers

#105 Add camera projection selector to `StructureControls.svelte`: perspective (default) or orthographic
  src/lib/composition/parse.ts
  src/lib/io/index.ts
  src/lib/io/parse.ts
  src/lib/structure/Structure.svelte
  src/lib/structure/StructureControls.svelte
  src/lib/structure/StructureScene.svelte
  src/lib/structure/index.ts
  src/routes/(demos)/structure/+page.md
  src/routes/test/structure/+page.svelte
  src/site/structures/Bi2Zr2O8-Fm3m.json
  src/site/structures/index.ts
  tests/playwright/structure.test.ts
  tests/vitest/composition/parse.test.ts
  tests/vitest/structure/Structure.test.ts
Labels: enhancement, structure

#108 Fix Matterviz auto-render triggering on unsupported files
  extensions/vscode/package.json
  extensions/vscode/src/extension.ts
  extensions/vscode/src/webview/main.ts
  extensions/vscode/tests/extension.test.ts
  extensions/vscode/vite.webview.config.ts
  src/lib/io/decompress.ts
  src/lib/io/parse.ts
  src/lib/trajectory/parse.ts
  tests/vitest/decompress.test.ts
  tests/vitest/io/parse.test.ts
  tests/vitest/trajectory/parse.test.ts
  vite.config.ts
Labels: fix, vscode

#109 Fix CIF parsing of TiO2 (mp-2657)
  package.json
  src/lib/io/index.ts
  src/lib/io/parse.ts
  src/site/structures/PF_sd_1601634.cif
  src/site/structures/TiO2.cif
  src/site/structures/TlBiSe2-highly-oblique-cell.json
  tests/vitest/io/parse.test.ts
Labels: fix, parsers, cif

#110 StructureControls.svelte add CIF and POSCAR file export and clipboard copy buttons
  src/lib/DraggablePanel.svelte
  src/lib/io/export.ts
  src/lib/io/parse.ts
  src/lib/structure/Structure.svelte
  src/lib/structure/StructureControls.svelte
  tests/vitest/io/export.test.ts
  tests/vitest/io/parse.test.ts
  tests/vitest/structure/Structure.test.ts
Labels: enhancement, structure, parsers, io, cif

#112 Streaming trajectory loader and parser to support large MD files
  extensions/vscode/tests/extension.test.ts
  src/lib/io/parse.ts
  src/lib/math.ts
  src/lib/plot/Histogram.svelte
  src/lib/trajectory/Trajectory.svelte
  src/lib/trajectory/TrajectoryInfoPanel.svelte
  src/lib/trajectory/index.ts
  src/lib/trajectory/parse.ts
  src/lib/trajectory/plotting.ts
  src/routes/test/trajectory-performance/+page.svelte
  src/site/PeriodicTableDemo.svelte
  tests/playwright/trajectory-performance.test.ts
  tests/playwright/trajectory.test.ts
  tests/vitest/math.test.ts
  tests/vitest/trajectory/index.test.ts
  tests/vitest/trajectory/streaming.test.ts
Labels: enhancement, perf, trajectory, parsers
